  <h1>Stupid Coaching</h1>
<div class="grid-container container-lg">
 <div class="items">
   <h5>- You</h5>
   <h4> <%= @question %> </h4>
 </div>

  <div class='items'>
    <h5>- Your Coach</h5>
    <h4> <%= @answer %> </h4>
  </div>

  <%= link_to 'Ask a new question', ask_path %>
</div>
