<div class="grid-container container-sm" >

 <h1>Stupid coaching 🚀</h1>
 <h5>Ask your coach anything:</h5>

  <form action="/answer" method="get" class="row g-5">
    <div class="col-auto">
      <input type="text" name="question" class="form-control">
    </div>
    <div class="col-auto grid-item">
    <button type="submit" class="btn btn-warning mb-3" value="Ask!">Ask question !</button>
    </div>
  </form>
</div>
