
h1 {
  text-align: center;
}
 .grid-container{
  display: grid;
  background-color: aliceblue;
  align-items: center;
  margin-top: 100px;
 }

 .items {
  border-left: solid 6px;
  padding: 10px;
  margin-bottom: 10px;
 }

 .container-sm {justify-items: center;
 }
